<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Home page" th:content="${description}">
    <meta name="author" content="Your Name" th:content="${author}">
    <meta name="keywords" content="home" th:content="${keywords}">

    <title th:text="${title}">السلة</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link th:href="@{/public/css/bootstrap.min.css}"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/public/css/style.css}" href="../../static/public/css/style.css" rel="stylesheet">
</head>

<body dir="rtl">
    <main class="page-wrapper">
        <nav th:replace="~{fragments/navbar :: navbar}" class="navbar-wrp"></nav>
        <section class="cart-container mt-4">
            <h4 class="title">السلة</h4>
            <div class="cart-item" th:if="${cart != null}" th:each="item : ${cart?.cartItems}">
                <div class="d-flex">
                    <div style="width: 20%;"><img th:src="" th:alt=""/></div>
                    <div class="item-details" style="width: 40%;">
                        <span class="product-name" th:text="${item.product?.name}">اسم المنتج</span>
                        <span class="item-quantity">الكمية: <span th:text="${item.quantity}">1</span></span>
                    </div>
                    <div class="item-price" style="width: 20%;" th:text="${item.price}">100.00 SDG</div>
                    <div class="item-price" style="width: 20%;" th:text="${item.total}">100.00 SDG</div>
                </div>
                <div class="bottom-boarder"></div>
            </div>
            <div  th:unless="${cart != null}">
                <div>لاتوجد اي منتجات تمت اضافتها للسلة</div>
                <div class="total">
                    المجموع: <span th:text="${cart?.total}">0.00 SDG</span>
                </div>
            </div>
            <button class="button-31 w-20">Checkout</button>
        </section>
        <footer th:replace="~{fragments/footer :: footer}" class="mt-3"></footer>
    </main>

    <script th:src="@{/js/popper.min.js}"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>