<!DOCTYPE html>
<html lang="en" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home page description for your website.">
    <meta name="author" content="Your Name or Company Name">
    <meta name="keywords" content="home, page, example, bootstrap, website">
    <title>Title</title>
    <link rel="icon" th:href="@{/public/imgs/favicon.png}" href="../../static/public/imgs/favicon.png" type="image/png">
</head>
<body>
<p><a href="/login">Click here to login</a></p>
</body>
</html>