<!DOCTYPE html>
<html lang="en" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta th:content="${pageDescription}" name="description" content="Home page description for your website.">
    <meta th:content="${pageAuthor}" name="author" content="Your Name or Company Name">
    <meta content="${pageKeywords}" name="keywords" content="home, page, example, bootstrap, website">

    <meta property="og:title" content="Home Page">
    <meta property="og:description" content="Welcome to the homepage of our website!">
    <meta property="og:image" content="https://example.com/og-image.jpg">
    <meta property="og:url" content="https://example.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Home Page">
    <meta name="twitter:description" content="Welcome to the homepage of our website!">
    <meta name="twitter:image" content="https://example.com/twitter-image.jpg">
    <link rel="icon" href="https://example.com/favicon.ico" type="image/x-icon">

    <title th:text="${pageTitle}">Home</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.rtl.min.css" th:href="" rel="stylesheet">
    <link href="../static/css/style.css" th:href="" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
    <!-- Content  -->
    <main class="content-warper">
        <nav th:fragment="navbar">
            <div class="container-fluid w-100" id="navbar">
                <div class="row mb-4">
                    <div class="col flex-grow-0">
                        <div><a><img th:src="@{/images/logo.png}" src="https://via.placeholder.com/120x80"
                                    alt="Logo"></a></div>
                    </div>
                    <div class="col">
                        <ul class="menu list-unstyled d-flex">
                            <li class="mx-3"><a href="#">Menu Item 1</a></li>
                            <li class="mx-3"><a href="#">Menu Item 2</a></li>
                            <li class="mx-3"><a href="#">Menu Item 3</a></li>
                            <li class="mx-3"><a href="#">Menu Item 1</a></li>
                            <li class="mx-3"><a href="#">Menu Item 2</a></li>
                            <li class="mx-3"><a href="#">Menu Item 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <section class="container">
            <div class="wrapper">
                <div class="banner-image"> </div>
                <h1> Toyota Supra</h1>
                <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
            </div>
            <div class="button-wrapper">
                <button class="btn outline">DETAILS</button>
                <button class="btn fill">BUY NOW</button>
            </div>
            </div>
        </section>

        <section class="container mt-5">
            <div class="row">
                <div class="col-6 mb-2 product-card">
                    <div class="card">
                        <div class="position-relative">
                            <div class="circle-container position-absolute">
                                <i class="far fa-heart"></i>
                            </div>
                            <img th:src="@{${product.imageUrl}}" src="https://via.placeholder.com/150"
                                class="card-img-top" alt="Product Image" th:alt="${product.name}">
                            <span th:if="true" class="badge bg-info new">New</span>
                            <span th:if="true" class="badge bg-success sale">Sale</span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div th:text="${product.name}" class="card-title">Product Title</div>
                            <div class="card-text d-inline-block"><strong th:text="${product.price}">$49.99 ج.س</strong></div>
                            <div th:if="(${product.price} < ${product.initPrice})" class="card-text d-inline-block"><strong th:text="${product.initPrice}">$49.99 ج.س</strong></div>
                            <form onSubmit="addToCartFormonSubmit" method="post" class="mt-auto">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="button-31 w-100">اضافة للعربة</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-2 product-card">
                    <div class="card">
                        <div class="position-relative">
                            <div class="circle-container position-absolute">
                                <i class="far fa-heart"></i>
                            </div>
                            <img th:src="@{${product.imageUrl}}" src="https://via.placeholder.com/150"
                                class="card-img-top" alt="Product Image" th:alt="${product.name}">
                            <span th:if="true" class="badge bg-info new">New</span>
                            <span th:if="true" class="badge bg-success sale">Sale</span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div th:text="${product.name}" class="card-title">Product Title</div>
                            <div class="card-text d-inline-block"><strong th:text="${product.price}">$49.99 ج.س</strong></div>
                            <div th:if="(${product.price} < ${product.initPrice})" class="card-text d-inline-block"><strong th:text="${product.initPrice}">$49.99 ج.س</strong></div>
                            <form onSubmit="addToCartFormonSubmit" method="post" class="mt-auto">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="button-31 w-100">اضافة للعربة</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-2 product-card">
                    <div class="card">
                        <div class="position-relative">
                            <div class="circle-container position-absolute">
                                <i class="far fa-heart"></i>
                            </div>
                            <img th:src="@{${product.imageUrl}}" src="https://via.placeholder.com/150"
                                class="card-img-top" alt="Product Image" th:alt="${product.name}">
                            <span th:if="true" class="badge bg-info new">New</span>
                            <span th:if="true" class="badge bg-success sale">Sale</span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div th:text="${product.name}" class="card-title">Product Title</div>
                            <div th:text="${product.price}" class="card-text d-inline-block"><strong>$49.99 ج.س</strong></div>
                            <div th:if="(${product.price} < ${product.initPrice})" th:text="${product.initPrice}"
                                class="card-text d-inline-block"><strong>$49.99 ج.س</strong></div>
                            <form onSubmit="addToCartFormonSubmit" method="post" class="mt-auto">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="button-31 w-100">اضافة للعربة</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-2 product-card">
                    <div class="card">
                        <div class="position-relative">
                            <div class="circle-container position-absolute">
                                <i class="far fa-heart"></i>
                            </div>
                            <img th:src="@{${product.imageUrl}}" src="https://via.placeholder.com/150"
                                class="card-img-top" alt="Product Image" th:alt="${product.name}">
                            <span th:if="true" class="badge bg-info new">New</span>
                            <span th:if="true" class="badge bg-success sale">Sale</span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div th:text="${product.name}" class="card-title">Product Title</div>
                            <div class="card-text d-inline-block"><strong th:text="${product.price}">$49.99 ج.س</strong></div>
                            <div th:if="(${product.price} < ${product.initPrice})" class="card-text d-inline-block"><strong th:text="${product.initPrice}">$49.99 ج.س</strong></div>
                            <form onSubmit="addToCartFormonSubmit" method="post" class="mt-auto">
                                <input type="hidden" name="productId" th:value="${product.id}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="submit" class="button-31 w-100">اضافة للعربة</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="subscribe">
            <form id="subscribeForm" class="subscribe-content">
                <div class="container">
                    <div class="image">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <h1>الاشتراك</h1>
                    <p>اشترك في القائمة البريدية لتلقي اخر الاخبار والعروض.</p>
                </div>
                <div class="form-input d-flex flex-column mx-auto" style="max-width: 450px;">
                    <input type="email d-block" id="email" name="email" placeholder="الايميل">
                    <button class="subscribe-btn w-100" type="submit">اشتراك</button>
                </div>
            </form>
        </section>

        <footer th:fragment="footer">
            <div class="container" id="footer">
                <div class="row">
                    <div class="col-lg-4">
                        <h5>About Us</h5>
                        <p>Information about the company.</p>
                    </div>
                    <div class="col-lg-4">
                        <h5>Contact Us</h5>
                        <p>Contact information and address.</p>
                    </div>
                    <div class="col-lg-4">
                        <h5>Follow Us</h5>
                        <ul class="social-media">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </main>

    <!-- Bootstrap JS and dependencies (via CDN) -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>