<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <meta name="description" content="Home page description for your website.">
    <meta name="author" content="Your Name or Company Name">
    <meta name="keywords" content="home, page, example, bootstrap, website">
    <title>Product Details</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/public/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../../static/public/css/style.css" rel="stylesheet">
</head>

<body>

    <main class="page-wrapper">
        <section class="product-details">

            <section class="product-details-header">
                <div class="main-search-input-wrap">
                    <div class="main-search-input fl-wrap">
                        <div class="main-search-input-item">
                            <input type="text" value="" placeholder="بحث عن منتجات...">
                        </div>

                        <button class="main-search-button">بحث</button>
                    </div>
                </div>
                <div style="display: inline-block; width: 145px;">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="../../static/public/imgs/googleplay.png" alt="googleplay">
                    </a>
                </div>
            </section>

            <section class="product-info" id="productInfo">
                <h2 class="product-name" th:text="${product.name}">فاست نيتبوك 12.5 بوصة خفيف الوزن ورقيق جدا 4 جيجابايت
                    + 64 جيجابايت لابتوب لابتوب انتل N3350 64 بت كواد كور نتبووك ويندوز 10</h2>
                <div class="product-image-wrap">
                    <div class="product-image text-center">
                        <img th:src="@{${product.image}}" class="img-fluid" src="../../static/public/imgs/img9.jpg"
                            alt="Product Image">
                    </div>
                </div>
                <div class="product-price">
                    <div th:text="${product.price} + ' SDG '" class="d-inline-block">122 SDG </div>
                    <div th:text="${product.price} + ' SDG '" class="price-old d-inline-block"> 155 SDG </div>
                    <div th:text="${product.percnt}" class="price-discount d-inline-block"> 5% خصم</div>
                </div>
                <div>
                    <i class="fas fa-star"></i> 4.5 (283 مراجعة)
                </div>
                <div class="product-description">
                    <h4 class="description-title">الوصف</h4>
                    <p class="description-body" th:text="${product.description}">
                        فاست نيتبوك 12.5 بوصة خفيف الوزن ورقيق جدا 4 جيجابايت + 64 جيجابايت لابتوب لابتوب انتل N3350 64
                        بت كواد كور نتبووك ويندوز 10.
                    </p>
                </div>
                <div class="add-to-cart">
                    <button class="button-31">اضافة للعربة</button>
                </div>
            </section>


            <section class="similar-products">
                <h4>منتجات مشابه</h4>
                <div class="row">
                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img10.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">كمبيوتر محمول Yepo جديد Intel Core i7 Windows 11
                                    Pro شاشة 15.6 بوصة 2K HD MX450 2G بطاقة رسومات مستقلة كمبيوتر مكتبي للأعمال</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img11.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">كمبيوتر محمول Yepo جديد Intel Core i7 Windows 11
                                    Pro شاشة 15.6 بوصة 2K HD MX450 2G بطاقة رسومات مستقلة كمبيوتر مكتبي للأعمال</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img7.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">كمبيوتر محمول 15.6 بوصة يعمل بنظام التشغيل Windows
                                    11 Pro Intel Core i7 8500Y 16GB RAM 1 تيرابايت SSD أجهزة الكمبيوتر المحمولة كمبيوتر
                                    مكتبي بصمة فتح الكمبيوتر المحمول</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img12.jpg"
                                alt="Similar Product Image">

                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">كمبيوتر محمول جديد للألعاب بشاشة 15.6 بوصة
                                    عالية الدقة Intel Celeron N5095 نظام Windows 11 ثنائي النطاق WiFi 16GB RAM 1
                                    تيرابايت SSD كمبيوتر محمول مكتب الأعمال</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img13.webp"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">كمبيوتر محمول 10.1 بوصة يعمل بنظام التشغيل
                                    Windows 10 OS رباعي النواة مثبت مسبقًا 3 جيجابايت + 64 جيجابايت كاميرا ويب HDMI
                                    للمكتب (أسود)</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img14.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">كمبيوتر محمول 10.1 بوصة يعمل بنظام التشغيل
                                    Windows 10 OS رباعي النواة مثبت مسبقًا 3 جيجابايت + 64 جيجابايت كاميرا ويب HDMI
                                    للمكتب (أسود)</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img6.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">سامسونج جالكسي تاب أي 9، واي فاي، 8.7 بوصة، 64
                                    جيجا، جرافيتي</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img16.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">لينوفو تاب بي 12، 128 جيجا، واي فاي 12 بوصة،
                                    رمادي</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img15.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">ابتوب اتش بي موديل 15 fd0029nx شاشة FHD 15.6
                                    بوصة إنتل كور i5 1334U (جيل 13) كرت أيرس Xe رام 8GB هارد SSD 512GB ويندوز 11 هوم
                                    فضي طبيعي 9P7P3EA</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" th:each="similarProduct : ${similarProducts}">
                        <div class="product-item">
                            <img th:src="@{${similarProduct.imageUrl}}" src="../../static/public/imgs/img1.jpg"
                                alt="Similar Product Image">
                            <div class="product-item-btm">
                                <div th:text="${similarProduct.name}" class="title">HP لابتوب ايليت بوك 725 G4 خفيف الوزن للاعمال،
                                    معالج AMD رباعي النواة A12، ذاكرة RAM DDR4 4GB، هارد ساتا 500GB، شاشة FHD 12.5
                                    انش، ويندوز 10 برو</div>
                                <div class="price">
                                    <div class="cprice" th:text="${similarProduct.price}">1599 SDG</div>
                                    <div class="oprice">1699 SDG</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>


            <section class="people-see">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#" class="image">
                                    <img class="img-1" src="images/img-1.jpg">
                                    <img class="img-2" src="images/img-2.jpg">
                                </a>
                                <ul class="product-links">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-random"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a href="#" class="product-view"><i class="fa fa-search"></i></a>
                            </div>
                            <div class="product-content">
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star disable"></li>
                                    <li class="disable">(1 reviews)</li>
                                </ul>
                                <h3 class="title"><a href="#">Women's Blouse Top</a></h3>
                                <div class="price">$65.99</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="user-reviews">
                <h4>المراجعات</h4>
                <div th:each="review : ${product.reviews}">
                    <div class="review-item">
                        <h5 th:text="${review.userName}">احمد علي</h5>
                        <p th:text="${review.comment}">ممتاز اللابتوب</p>
                        <small th:text="${review.date}" dir="auto">15/03/2024 05:30 PM</small>
                    </div>
                    <div class="review-item">
                        <h5 th:text="${review.userName}">احمد علي</h5>
                        <p th:text="${review.comment}">ممتاز اللابتوب</p>
                        <small th:text="${review.date}" dir="auto">15/03/2024 05:30 PM</small>
                    </div>
                    <div class="review-item">
                        <h5 th:text="${review.userName}">احمد علي</h5>
                        <p th:text="${review.comment}">ممتاز اللابتوب</p>
                        <small th:text="${review.date}" dir="auto">15/03/2024 05:30 PM</small>
                    </div>
                </div>
                <div class="review-form">
                    <h4>اضافة مراجعة</h4>
                    <form th:action="@{/product/${product.id}/review}" method="post">
                        <div class="form-group">
                            <label for="userName">الاسم:</label>
                            <input type="text" class="form-control" id="userName" name="userName">
                        </div>
                        <div class="form-group">
                            <label for="comment">التعليق:</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="button-31 mt-3" style="width: fit-content;">ارسال</button>
                    </form>
            </section>
        </section>


        <footer>
            <div th:fragment="footer" class="footer">
                <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
                    <footer>
                        <div class="row my-5 justify-content-center py-5">
                            <div class="col-11">
                                <div class="row ">
                                    <div class="col-xl-8 col-md-4 col-sm-4 col-12   my-auto mx-auto a">
                                        <h3 class="text-muted mb-md-0 mb-5 bold-text">Pepper.</h3>
                                    </div>
                                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                                        <h6 class="mb-3 mb-lg-4 bold-text "><b>القائمة</b></h6>
                                        <ul class="list-unstyled">
                                            <li>الرئيسية</li>
                                            <li>عن الشركة</li>
                                            <li>الاخبار</li>
                                            <li>المعرض</li>
                                        </ul>
                                    </div>
                                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>العنوان</b></h6>
                                        <p class="mb-1">605, برج الكاميل</p>
                                        <p>الطابق العاشر</p>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div
                                        class="col-xl-8 col-md-4 col-sm-4 col-auto  my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                                        <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i
                                                    class="fa fa-facebook" aria-hidden="true"></i></span> <span
                                                class="mx-2"><i class="fa fa-linkedin-square"
                                                    aria-hidden="true"></i></span> <span class="mx-2"><i
                                                    class="fa fa-twitter" aria-hidden="true"></i></span> <span
                                                class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                                        </p><small class="rights"><span>&#174;</span> Pepper All Rights
                                            Reserved.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>