<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home page description for your website.">
    <meta name="author" content="Your Name or Company Name">
    <meta name="keywords" content="home, page, example, bootstrap, website">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/public/css/bootstrap-5.3.3/dist/css/bootstrap.min.css}"
        href="../../static/public/css/bootstrap-5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/public/css/style.css}" href="../../static/public/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="signup-container">
            <h2 class="title">التسجيل</h2>
            <form th:action="@{/signup}" th:object="${signupForm}" method="post" id="signupForm">
                <div class="email">
                    <label for="email" class="input-label">الايميل:</label>
                    <input type="email" name="email" class="input" th:field="*{email}" id="email">
                    <div class="error"></div>
                </div>
                <div class="password">
                    <label for="password" class="input-label">كلمة المرور:</label>
                    <input type="password" name="password" class="input" th:field="*{password}" id="password">
                    <div class="error"></div>
                </div>
                <div class="confirm-password">
                    <label for="confirmPassword" class="input-label">تاكيد كلمة المرور:</label>
                    <input type="password" class="input" name="confirmPassword" th:field="*{confirmPassword}"
                        id="confirmPassword">
                    <div class="error"></div>
                </div>
                <button type="submit" class="button-send">ارسال</button>
            </form>
        </div>
    </div>

    <script th:src="@{/public/js/jquery-3.7.1.min.js}" src="../../static/public/js/jquery-3.7.1.min.js"></script>
    <script th:src="@{/public/js/bootstrap.bundle.min.js}" src="../../static/public/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/public/js/main.js}" src="../../static/public/js/main.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {           

            document.getElementById('signupForm').addEventListener('submit', function (event) {
                handleSignupFormSubmit(event);
            });

            document.getElementById('email').addEventListener('change', function (e) {
                this.classList.remove('error');
            });

            document.getElementById('password').addEventListener('change', function (e) {
                this.classList.remove('error');
            });

            document.getElementById('confirmPassword').addEventListener('change', function (e) {
                this.classList.remove('error');
            });
        })

    </script>
</body>

</html>