.cart-container {
    padding: 0 0.125rem;

    .cart-item{
        background-color: #fafafa;
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: 1px solid #e7e2e2;

        .item-quantity{
            button{
                height: 30px;
                width: 30px;
                padding: 0;
                outline: none;
                border: 1px solid #dbdbdb;
                background-color: white;
                font-size: 1rem;
                font-weight: 500;
            }

            span{
                display: inline-block;
                width: 30px;
                padding: 0;
                text-align: center;
                vertical-align: baseline;
            }
        }

        .button-delete{
            padding: 0;
            border: none;
            background: transparent;

            svg{
                fill: #BDBDBD;
            }

            &:hover svg{
                fill: #9E9E9E;
            }
        }
    }
    
    .title{
        font-size: 0.9rem;
        font-weight: 600;
    }

    .item-details{
        .product-name{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .cart-no-item{
        padding: 2rem;
        text-align: center;
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .item-price{}

    .checkout-total{
        width: 400px;
    }
        
    .total-wrp{
        border-radius: 0.3125rem;
        background-color: #f2f2f2;
        padding: .8rem;
        
        .total__entary{
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: 500;
        }

        .cval {
            font-size: 1rem;
            font-weight: 500;
        }

        .ttcval{
            color: rgb(18, 99, 32);
        }
    }

    .checkout-button{
        margin-top: 1.2rem;
    }
}