.card {
    .new {
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

.categories{
    margin-top: 50px;
    .category-wrp{
        display: flex;
        justify-content: center;
        gap: 1rem;

        @media screen and (max-width: 768px){
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .category{
            width: 110px;
            .category-card{
                .category-img{
                    display: flex;
                    justify-content: center;
                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .category-card__title{
                    text-align: center;
                    font-size: 1.1rem;
                }
            }
        }
    }
}





.section-title{
    margin-bottom: 0.75rem;
    
    .title{
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0;
    }
}

.banner-container {
    display: flex;
    background-color: #ba3b3b;

    @media screen and (max-width: 768px) {        
        flex-direction: column;
        align-items: center;        
    }

    .wrapper {
        width: 50%;
        align-content: center;
        padding: 20px;        
        color: #fff;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
        }

        .banner-image {
           
            img{
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            text-align: center;
        }
    }

    .button-wrapper {
        width: 50%;
        height: 400px;
        flex-grow: 1;
        align-content: center;
        padding: 30px;

        @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;            
        }

        .button-37 {
            display: block;
            width: 100%;
            border-radius: 40px;

            &:first-child {
                margin-bottom: 15px;
            }
        }
    }
}


.all-products {
    margin-top: 50px;

    .products {
        display: flex;
        flex-wrap: wrap;

        .product-card-b {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin: 0 5px 12px 5px;
            width: calc(50% - 10px);

            .product-image {
                width: 100%;
                position: relative;
                background-color: #fff;
                margin-bottom: 0.4rem;

                .product-img {
                    display: block;
                    width: auto;
                    height: 180px;
                    margin: 0 auto;
                }

                .circle-container {
                    position: absolute;
                    top: 5;
                    right: -5;
                    display: inline-block;
                    padding: 5px;
                    cursor: pointer;
                    font-size: 1.2rem;
                    text-decoration: none !important;

                    &:hover {
                        color: red;
                    }
                }

                .product-new {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    display: inline-block;
                    padding: 2px 5px;
                    background-color: rgb(29, 0, 0);
                    color: #fbeded;
                    border-radius: 4px;
                    font-size: 0.7rem;
                }
            }

            .product-details {  
                padding: 0 0.5rem;
                margin-bottom: 1rem;
                width: 100%;              
                .product-title {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: #000000;
                }

                .price {
                    display: inline-block;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #a10000;
                }

                .price-discount {
                    display: inline-block;
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: #5b5b5b;
                    // text-decoration: line-through;
                    &::before{
                        content: "";
                        display: block;
                        height: 1px;
                        border-bottom: 1px solid #5D4037;
                        transform: translateY(15px);
                    }
                }
            }

            .add-to-cart {
                width: 88%;
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0.8rem;
            }
        }

        @media screen and (min-width: 666px) {
            .product-card-b {
                width: calc(33.33333333% - 10px);
            }
        }

        @media screen and (min-width: 800px) {
            .product-card-b {
                width: calc(25% - 10px);
            }
        }

        @media screen and (min-width: 1024px) {
            .product-card-b {
                width: calc(20% - 10px);
            }
        }

        @media screen and (min-width: 1440px) {
            .product-card-b {
                width: calc(16.666666% - 10px);
            }
        }
    }
}