.all-products {
    padding-left: 12px;
    padding-right: 12px;

    .flex-row {
        .product-card {
            display: flex;
            width: 100%;
            margin-bottom: 12px;

            .card{
                flex: 1;
            }
        }

        .image {
            margin-bottom: 4px;

            .product-img {
                width: 100%;
                object-fit: cover;
            }
        }

        .product-new,
        .product-popular {
            position: absolute;
            display: inline-block;
            width: 45px;
            height: 45px;
        }

        .product-details {
            padding-left: 12px;
            padding-right: 12px;

            .product-title {
                font-size: 1.2rem;
                font-weight: 500;
                color: #000000;
            }

            .product-price {
                margin-bottom: 0;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.2;
                color: green;
            }

            .product-discount {
                margin-bottom: 0;
                font-size: 1.2rem;
                font-weight: 400;
                color: #464646;
                line-height: 1.2;
                text-decoration: line-through;
            }

            button.add-cart {
                width: 100%;
                display: block;
                margin: auto auto 20px auto;
            }
        }

        @media screen and (min-width: 768px) {
            .product-card {
                width: calc(50% - 12px);
                margin-right: 6px;
                margin-left: 6px;
            }
        }

        @media screen and (min-width: 920px) {
            .product-card {
                width: calc(33.3333333% - 12px);
                margin-right: 6px;
                margin-left: 6px;
            }
        }

        @media screen and (min-width: 1080px) {
            .product-card {
                width: calc(25% - 12px);
                margin-right: 6px;
                margin-left: 6px;
            }
        }

        @media screen and (min-width: 1200px) {
            .product-card {
                width: calc(20% - 12px);
                margin-right: 6px;
                margin-left: 6px;
            }
        }
    }

}