.product-search {
    .main-search-input-wrap {
        .main-search-input {
            height: 45px;
            display: inline-block;

            .main-search-input-item {
                float: right;

                input {
                    outline: none;
                    border: 1px solid #6a1b9a;
                    border-radius: 0 4px 4px 0;
                    width: 440px;
                    padding: 5px 10px;
                    font-size: 1rem;
                    line-height: 1.5;
                    display: inline-block;
                }
            }

            .main-search-button {
                float: right;
                line-height: 1.5;
                padding: 5px 10px;
                outline: none;
                border: 1px solid #6a1b9a;
                background-color: #6A1B9A;
                color: #fff;
                border-radius: 4px 0 0 4px;
            }
        }
    }
}