.signup-container{
       padding: 1.5rem;
    background: linear-gradient(0deg, #e7e7e7, #fff);
    /* background-color: #f2fff6; */
    border-radius: 8px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: 60px auto 0 auto;

    .title{
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--text_color);
        text-align: center;
    }

    .input-label{
        display: block;
        margin-bottom: 4px;
    }

    .email, .password, .confirm-password {
        margin-bottom: 0.75rem;
    }

    .input{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text_color);
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid #cccccc;
        border-radius: 4px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:focus-visible{
            border-color: #939393;
            background-color: #fdfdfd;
        }

        &.error{
            border-color: red;
        }
    }



    button{
        width:100%;
        display: inline-block;
        padding: 8px 25px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 20px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: 1px solid #cccccc;
        border-radius: 5px;
        background-color: #cccccc;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &:hover{
            background-color: #939393;
        }
    }

    button{
        margin-top: 12px;
    }
}