.subscribe {
    margin-top: 80px;
    margin-bottom: -60px;
    padding: 60px 0;
    background-color: #F5F5F5;

    .subscribe-content {
        margin-bottom: 1rem;
        text-align: center;


        .image {
            font-size: 60px;
        }

        .subscription-title {
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 1.3;
        }

        .subscription-desc {
            margin: 0;
            font-size: 0.9rem;
        }

    }

    .subscription-form {
        width: 478px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .text-field {
            width: 100%;
            margin-bottom: 11px;
            padding: 9px 8px;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            line-height: 1.5;
            font-size: 1rem;
        }

        .text-field:focus {
            border-color: #008d9e;
        }

        .subscribe-btn {
            padding: 9px 8px;
            margin-bottom: 20px;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            line-height: 1.5;
            font-size: 1rem;
            background-color: #000;
            color: #fff;
        }

        .subscribe-btn:hover {
            background-color: #008d9e;
            border-color: #008d9e;
        }

        .subscribe-btn:focus {
            border-color: #008d9e;
        }

        .subscribe-btn:active {
            background-color: #008d9e;
            border-color: #008d9e;
        }

        .subscribe-btn:disabled {
            background-color: #ccc;
            border-color: #ccc;
            cursor: not-allowed;
        }
    }
}