
.products-container {
    margin-top: 50px;
    
    .products{
        display: flex;
        flex-wrap: wrap;

        .product-card{
            margin: 0 5px;
            width: calc(50% - 10px);
            .card{
                .card-body{
                    .card-title{

                    }

                    .card-text{

                    }

                    .button-31{

                    }
                }
            }
        }

        @media screen and (min-width: 666px){
            .product-card{
                width: calc(33.33333333% - 10px);
            }
        }

        @media screen and (min-width: 800px){
            .product-card{
                width: calc(25% - 10px);
            }
        }

        @media screen and (min-width: 1024px){
            .product-card{
                width: calc(20% - 10px);
            }
        }

        @media screen and (min-width: 1440px){
            .product-card{
                width: calc(15% - 10px);
            }
        }
    }
}