:root {
  --color_background: #ffffff;
  --color_primary: #000000;
  --color_secondary: #000000;
  --color_on_primary: #000000;
  --color_on_secondary: #000000;
  --color_accent: #000000;
  --font_size: 15px;
  --text_color: #292929;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font_size);
  color: var(--text_color);
  background-color: var(--color_background);
}

/* CSS */
.button-28 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: 0.5;
}

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, transform 0.1s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: 0.75;
}

/* CSS */
.button-26 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
}

.button-26:disabled {
  opacity: 0.5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.button-26:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
.flex-row {
  display: flex !important;
  flex-wrap: wrap !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.marginb-12 {
  margin-bottom: 12px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding-left: -4px;
  padding-right: -4px;
}
.products .product-card-a {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 1rem;
}
.products .product-card-a .card-a {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.products .product-card-a .card-a .card-img {
  background-color: #f5f5f5;
  border: 1px solid #E0E0E0;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0.3rem;
}
.products .product-card-a .card-a .product-img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
.products .product-card-a .card-a .card-body .product-title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #121212;
}
.products .product-card-a .card-a .card-body .product-price {
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #121212;
}
.products .product-card-a .card-a .card-body .product-price-discount {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #9E9E9E;
  text-decoration: line-through;
}
@media screen and (min-width: 768px) {
  .products .product-card-a {
    width: calc(50% - 8px);
  }
}
@media screen and (min-width: 968px) {
  .products .product-card-a {
    width: calc(33.3333% - 8px);
  }
}
@media screen and (min-width: 1068px) {
  .products .product-card-a {
    width: calc(25% - 8px);
  }
}
@media screen and (min-width: 1168px) {
  .products .product-card-a {
    width: calc(20% - 8px);
  }
}

.navbar-wrp .notification-bar {
  background-color: #FB8C00;
  color: #fff;
  padding: 5px 15px;
}
.navbar-wrp .notification-bar p {
  margin: 0;
}
.navbar-wrp .nav-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #00796B;
  color: #fff;
}
.navbar-wrp .nav-content .logo {
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
}
.navbar-wrp .nav-content .profile {
  position: relative;
  margin-right: 15px;
}
.navbar-wrp .nav-content .profile .profile-button {
  position: relative;
  width: 32px;
  cursor: pointer;
}
.navbar-wrp .nav-content .profile .profile-button .button {
  outline: none;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #C0CA33;
}
.navbar-wrp .nav-content .profile .profile-button .button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar-wrp .nav-content .profile .profile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f1f1f1;
  color: #333;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.navbar-wrp .nav-content .profile .profile-menu.active {
  display: block;
}
.navbar-wrp .nav-content .cart {
  position: relative;
  margin-right: 15px;
}
.navbar-wrp .nav-content .cart a {
  position: relative;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.navbar-wrp .nav-content .cart a svg {
  width: 32px;
}
.navbar-wrp .nav-content .cart .cart__badge {
  position: absolute;
  right: -10px;
  top: -5px;
  font-size: 12px;
  background-color: red;
  color: #fff;
  padding: 2px 8px;
  border-radius: 50%;
}
.navbar-wrp .nav-content .cart .cart__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f1f1f1;
  color: #333;
  padding: 8px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.navbar-wrp .nav-content .cart .cart__dropdown.active {
  display: block;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-item {
  display: flex;
  align-items: center;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-item-img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-item-info {
  margin-right: 8px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-item-info .cart__dropdown-item-title {
  font-size: 0.8rem;
  margin: 0;
  width: 120px;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-item-info .cart__dropdown-item-price {
  font-size: 0.8rem;
  margin: 0;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-item-info .cart__dropdown-item-quantity {
  margin-left: 5px;
  font-size: 0.8rem;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-item-info .cart__dropdown-item-remove {
  margin-right: 8px;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-total h4 {
  display: inline-block;
  font-size: 0.8rem;
  margin: 0;
}
.navbar-wrp .nav-content .cart .cart__dropdown .cart__dropdown-total p {
  display: inline-block;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
}
.navbar-wrp .nav-content .nav-menu .menu-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-wrp .nav-content .nav-menu .menu-container .menu-item {
  margin-right: 20px;
}
.navbar-wrp .nav-content .nav-menu .menu-container .menu-item .menu-link {
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
.navbar-wrp .nav-content .nav-menu .menu-container .menu-item .menu-link:hover {
  background-color: #1d5a53;
}
.navbar-wrp .nav-content .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00796B;
  padding: 10px;
  display: none;
}
.navbar-wrp .nav-content .dropdown-menu .dropdown-item {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.navbar-wrp .nav-content .dropdown-menu .dropdown-item:hover {
  background-color: #00695C;
}
.footer {
  margin-top: 60px;
}
.footer .footer-top {
  background-color: #f5f5f5;
  padding: 40px;
}
.footer .footer-top .about-company,
.footer .footer-top .contact-us,
.footer .footer-top .flow-us {
  width: 250px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer .footer-top {
    padding: 40px 15px;
  }
}
.footer .footer-bottom {
  background-color: #205d59;
  color: #fff;
}
.footer .footer-header {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
}
.footer .footer-link {
  text-decoration: none !important;
  color: inherit !important;
}
.footer .footer-text {
  margin: 0;
}
.footer .social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card .new {
  position: absolute;
  top: 5px;
  left: 5px;
}

.section-title {
  margin-bottom: 0.75rem;
}
.section-title .title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.banner-container {
  display: flex;
}
.banner-container .wrapper {
  width: 300px;
  align-content: center;
  padding: 20px;
}
.banner-container .button-wrapper {
  height: 400px;
  flex-grow: 1;
  align-content: center;
  padding: 30px;
}
.banner-container .button-wrapper .button-37 {
  display: block;
  width: 100%;
  border-radius: 40px;
}
.banner-container .button-wrapper .button-37:first-child {
  margin-bottom: 15px;
}

.all-products {
  margin-top: 50px;
}
.all-products .products {
  display: flex;
  flex-wrap: wrap;
}
.all-products .products .product-card-b {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 5px 12px 5px;
  width: calc(50% - 10px);
}
.all-products .products .product-card-b .product-image {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 0.4rem;
}
.all-products .products .product-card-b .product-image .product-img {
  display: block;
  width: auto;
  height: 180px;
  margin: 0 auto;
}
.all-products .products .product-card-b .product-image .circle-container {
  position: absolute;
  top: 5;
  right: -5;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none !important;
}
.all-products .products .product-card-b .product-image .circle-container:hover {
  color: red;
}
.all-products .products .product-card-b .product-image .product-new {
  position: absolute;
  top: 4px;
  right: 4px;
  display: inline-block;
  padding: 2px 5px;
  background-color: rgb(29, 0, 0);
  color: #fbeded;
  border-radius: 4px;
  font-size: 0.7rem;
}
.all-products .products .product-card-b .product-details {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}
.all-products .products .product-card-b .product-details .product-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000000;
}
.all-products .products .product-card-b .product-details .price {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  color: #a10000;
}
.all-products .products .product-card-b .product-details .price-discount {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  color: #5b5b5b;
}
.all-products .products .product-card-b .product-details .price-discount::before {
  content: "";
  display: block;
  height: 1px;
  border-bottom: 1px solid #5D4037;
  transform: translateY(15px);
}
.all-products .products .product-card-b .add-to-cart {
  width: 88%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 666px) {
  .all-products .products .product-card-b {
    width: calc(33.33333333% - 10px);
  }
}
@media screen and (min-width: 800px) {
  .all-products .products .product-card-b {
    width: calc(25% - 10px);
  }
}
@media screen and (min-width: 1024px) {
  .all-products .products .product-card-b {
    width: calc(20% - 10px);
  }
}
@media screen and (min-width: 1440px) {
  .all-products .products .product-card-b {
    width: calc(16.666666% - 10px);
  }
}

.cart-container {
  padding: 0 20px;
}
.cart-container .cart-item {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #e7e2e2;
}
.cart-container .cart-item .item-quantity button {
  height: 30px;
  width: 30px;
  padding: 0;
  outline: none;
  border: 1px solid #dbdbdb;
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
}
.cart-container .cart-item .item-quantity span {
  display: inline-block;
  /* height: 30px; */
  width: 30px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}
.cart-container .cart-item .button-delete {
  padding: 0;
  border: none;
  background: transparent;
}
.cart-container .cart-item .button-delete svg {
  fill: #BDBDBD;
}
.cart-container .cart-item .button-delete:hover svg {
  fill: #9E9E9E;
}
.cart-container .title {
  font-size: 0.9rem;
  font-weight: 600;
}
.cart-container .item-details .product-name {
  font-size: 1.2rem;
  font-weight: 600;
}
.cart-container .cart-no-item {
  padding: 2rem;
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}
.cart-container .total-wrp {
  width: 400px;
  border-radius: 1rem;
  background-color: #f2f2f2;
  padding: 0.8rem;
}
.cart-container .total-wrp .shipping, .cart-container .total-wrp .tax, .cart-container .total-wrp .subtotal, .cart-container .total-wrp .total {
  display: flex;
  justify-content: space-between;
}
.cart-container .checkout-button {
  margin-top: 20px;
}

.product-info .product-name {
  color: inherit !important;
}
.product-info .product-image-wrap {
  max-width: 780px;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
}
.product-info .product-price .price {
  font-size: 1.5rem;
  color: #F44336;
}
.product-info .product-price .price-old {
  font-size: 1.3rem;
  color: black;
  text-decoration: line-through;
}
.product-info .product-price .price-discount {
  font-size: 1rem;
  font-weight: 600;
  color: #00695C;
}
.product-info .review-rate i {
  color: #E65100;
}
.product-info .product-description {
  margin-top: 0.5rem;
}
.product-info .product-description .description-title {
  margin-bottom: 0;
}
.product-info .add-to-cart {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .product-info .add-to-cart {
    max-width: 210px;
  }
}

.similar-products .similar-products-container {
  display: flex;
  flex-wrap: wrap;
}
.similar-products .similar-products-container .product-card {
  width: calc(50% - 8px);
  margin-left: 4px;
  margin-right: 4px;
}
.similar-products .similar-products-container .product-card .product-item img {
  width: 100% !important;
  height: auto !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.similar-products .similar-products-container .product-card .product-item .product-item-btm .title {
  margin-bottom: 8px;
}
.similar-products .similar-products-container .product-card .product-item .product-item-btm .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: #303030;
  margin-bottom: 4px;
}
.similar-products .similar-products-container .product-card .product-item .product-item-btm .discount-price {
  font-size: 0.9rem;
  font-weight: 600;
  color: #888888;
  text-decoration: line-through;
  margin-bottom: 4px;
}
@media screen and (min-width: 800px) {
  .similar-products .similar-products-container .product-card {
    width: calc(33.33333333% - 8px);
  }
}
@media screen and (min-width: 900px) {
  .similar-products .similar-products-container .product-card {
    width: calc(25% - 8px);
  }
}
@media screen and (min-width: 1000px) {
  .similar-products .similar-products-container .product-card {
    width: calc(20% - 8px);
  }
}

.user-reviews {
  max-width: 800px;
}

.all-products {
  padding-left: 12px;
  padding-right: 12px;
}
.all-products .title h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.all-products .product-card {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}
.all-products .product-card .product {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  flex: 1;
}
.all-products .image, .all-products .product-image {
  position: relative;
  margin-bottom: 4px;
}
.all-products .image .product-img, .all-products .image img, .all-products .product-image .product-img, .all-products .product-image img {
  display: block;
  width: auto;
  height: 200px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.all-products .image .image img, .all-products .product-image .image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.all-products .product-links {
  position: absolute;
  top: 5px;
  left: 5px;
}
.all-products .product-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.all-products .product-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.all-products .product-links li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.all-products .product-new,
.all-products .product-popular,
.all-products .favorite {
  position: absolute;
  display: inline-block;
}
.all-products .product-new {
  top: 5px;
  right: 5px;
  background-color: rgb(17, 73, 73);
  color: rgb(253, 253, 253);
  padding: 2px 5px;
  font-size: 0.8rem;
  border-radius: 4px;
}
.all-products .favorite {
  bottom: 5px;
  right: 5px;
  background-color: rgb(17, 73, 73);
  color: rgb(253, 253, 253);
  padding: 2px 5px;
  font-size: 0.8rem;
  border-radius: 4px;
}
.all-products .product-popular {
  top: 5px;
  left: 5px;
  background-color: rgb(17, 73, 73);
  color: rgb(253, 253, 253);
  padding: 2px 5px;
  font-size: 0.8rem;
  border-radius: 4px;
}
.all-products .product-info {
  padding-left: 12px;
  padding-right: 12px;
}
.all-products .product-info .rating {
  list-style: none;
  margin: 0;
}
.all-products .product-info .rating li {
  display: inline-block;
}
.all-products .product-info .rating li:not(:first-child) {
  margin-right: 5px;
}
.all-products .product-details {
  padding-left: 12px;
  padding-right: 12px;
}
.all-products .product-details .product-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}
.all-products .product-details .product-price {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: green;
}
.all-products .product-details .product-discount {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #464646;
  line-height: 1.2;
  text-decoration: line-through;
}
.all-products button.add-cart {
  margin-top: auto;
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .all-products .product-card {
    width: calc(50% - 12px);
    margin-right: 6px;
    margin-left: 6px;
  }
}
@media screen and (min-width: 920px) {
  .all-products .product-card {
    width: calc(33.3333333% - 12px);
    margin-right: 6px;
    margin-left: 6px;
  }
}
@media screen and (min-width: 1080px) {
  .all-products .product-card {
    width: calc(25% - 12px);
    margin-right: 6px;
    margin-left: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .all-products .product-card {
    width: calc(20% - 12px);
    margin-right: 6px;
    margin-left: 6px;
  }
}

.payment-success {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.payment-success .payment-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  border: 2px solid #4CAF50;
  /* Green border */
}
.payment-success .payment-container .icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.payment-success .payment-container h1 {
  color: #4CAF50;
  margin-top: 20px;
}
.payment-success .payment-container p {
  font-size: 18px;
  color: #555;
}
.payment-success .payment-container .btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}
.payment-success .payment-container .btn:hover {
  background-color: #45a049;
}

.signup-container {
  padding: 1.5rem;
  background: linear-gradient(210deg, #e7e7e7, #fff);
  background-color: #B3E5FC;
  border-radius: 5px;
  max-width: 800px;
  margin: 50px auto 0 auto;
}
.signup-container .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text_color);
  text-align: center;
}
.signup-container .input-label {
  display: block;
  margin-bottom: 4px;
}
.signup-container .email, .signup-container .password, .signup-container .confirm-password {
  margin-bottom: 0.5rem;
}
.signup-container .input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text_color);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.signup-container .input:focus-visible {
  border-color: #939393;
  background-color: #fdfdfd;
}
.signup-container .input.error {
  border-color: red;
}
.signup-container button {
  display: inline-block;
  padding: 8px 25px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #cccccc;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.signup-container button:hover {
  background-color: #939393;
}

.login {
  max-width: 443px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.login .email, .login .password {
  margin-bottom: 8px;
}
.login .login__form-icon {
  text-align: center;
}
.login .google-button, .login .facebook-button {
  margin-bottom: 12px;
  background-color: #ffffff;
  border: 1px solid #333333;
  color: #333333;
}
.login .google-button:hover, .login .facebook-button:hover {
  background-color: #333333;
  color: #ffffff;
}
.login .divider {
  height: 1px;
  background-color: #cccccc;
  margin: 30px 0;
}

.subscribe {
  margin-top: 80px;
  margin-bottom: -60px;
  background-color: #d9eadd;
  padding: 60px 0;
}
.subscribe .subscribe-content {
  text-align: center;
  margin-bottom: 1rem;
}
.subscribe .subscribe-content .image {
  font-size: 60px;
}
.subscribe .subscribe-content .subscription-title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.3;
}
.subscribe .subscribe-content .subscription-desc {
  font-size: 0.9rem;
  margin: 0;
}
.subscribe .subscription-form {
  width: 478px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.subscribe .subscription-form .email {
  width: 100%;
  padding: 9px 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 11px;
}
.subscribe .subscription-form .subscribe-btn {
  padding: 9px 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: #000;
  color: #fff;
}/*# sourceMappingURL=style.css.map */