<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'}" href="../../../static/public/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/admin/main.css}" href="../../../static/admin/main.css" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
    <div th:replace="~{admin/fragments/navigation :: navigation}"></div>
    <div class="create-user-container">
        <h2>Create New User</h2>
        <form id="createUserForm">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" th:value="${firstName}" id="firstName">
                <div class="input-message">first name is required</div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" th:value="${lastName}" id="lastName">
                <div class="input-message">first name is required</div>
            </div>
            <div class="form-group">
                <div role="lable">Birth Date:</div>
                <div class="d-flex gap-2">
                    <div class="flex-grow-1">
                        <select class="form-control mr-2"  id="birthdayDay">
                            <option value="" disabled selected>Day</option>
                            <option th:each="day : ${#numbers.sequence(1, 31)}" th:value="${day}" th:text="${day}"></option>
                        </select>
                        <div class="input-message">first name is required</div>
                    </div>
                   <div class="flex-grow-1">
                    <select class="form-control mr-2" id="birthdayMonth">
                        <option value="" disabled selected>Month</option>
                        <option th:each="month, iter : ${monthNames}" th:value="${iter.index + 1}" th:text="${month}"></option>
                    </select>
                    <div class="input-message">first name is required</div>
                   </div>
                    <div class="flex-grow-1">
                        <select class="form-control" id="birthdayYear">
                            <option value="" disabled selected>Year</option>
                            <option th:each="year : ${#numbers.sequence(1900, 2023)}" th:value="${year}" th:text="${year}"></option>
                        </select>
                        <div class="input-message">first name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select class="form-control" th:value="${role}" id="role">
                    <option value="" disabled selected>Select Role</option>
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="MODERATOR">MODERATOR</option>
                </select>
            </div>
            <div class="form-group">
                <div class="avatar-lable">Avatar:</div>
                <input type="file" class="form-control" th:value="${avatar}" id="avatar" accept="image/*" style="display:none;">
                <button type="button" id="avatarButton" class="avatar-button">select image</button>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" th:value="${email}" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" th:value="${password}" id="password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" th:value="${enabled}" id="enabled">
                <label for="enabled" class="form-check-label">Enabled</label>
            </div>

            <button type="submit" id="submitButton" class="btn btn-primary mt-3"><i class="fab fa-plus"></i> Create User</button>
        </form>
    </div>
</div>
<!-- Footer -->
<footer th:replace="~{admin/fragments/footer::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js'}" src="../../../static/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        let image = '';

    function formValidation(){
        const name = document.getElementById('firstName').value;
        const lastname = document.getElementById('lastName').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        //const confirmPassword = document.getElementById('confirmPassword').value;
        //const date = document.getElementById('date').value;

        if(name === ''){
            document.getElementById('firstName').classList.add('is-invalid');
            document.getElementById('firstName').closest('div div').classList.add('is-invalid');
            return false;
        }

        if(lastname === ''){
            document.getElementById('lastName').classList.add('is-invalid');
            document.getElementById('lastName').closest('div div').classList.add('is-invalid');
            return false;
        }

        if(email === ''){
            document.getElementById('email').classList.add('is-invalid');
            document.getElementById('email').closest('div div').classList.add('is-invalid');
            return false;
        }

        // if(date === ''){
        //     document.getElementById('date').closest('div div').classList.add('is-invalid');
        //     document.getElementById('date').classList.add('is-invalid');
        //     return false;
        // }

        if(password === '' || password.length < 8){
            document.getElementById('password').classList.add('is-invalid');
            return false;
        }

    

        if(!validateEmail(email)){
            alert('Please enter a valid email address');
            return false;
        }

        return true;
    }

    function validateEmail(email) {
        const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(email);
    }

    document.getElementById('avatar').addEventListener('change', async function() {
        const file = this.files[0];
        const body = new FormData();
        body.append('file', file);
        const response = await fetch("http://localhost:8080/admin/upload", {
            method: 'POST',
            body: body,
        });

        if(response.status === 200) {
            const data = await response.json();
            image = data.url;
            //document.getElementById('avatar').value = '';
            document.getElementById('avatarButton').textContent = '';
            document.getElementById('avatarButton').style.display = 'block';
            document.getElementById('avatarButton').style.backgroundImage = `url('/admin/images/${data.url}')`;
            document.getElementById('avatarButton').style.backgroundSize = '100px';//'cover';
            document.getElementById('avatarButton').style.backgroundPosition = 'center';
            document.getElementById('avatarButton').style.backgroundRepeat = 'no-repeat';
            document.getElementById('avatarButton').style.border = '2px solid #000';
            //submit.disabled = false;
        } else {
            console.error('Failed to upload image');
        }
    });

    document.getElementById('avatarButton').addEventListener('click', function() {
        document.getElementById('avatar').click();
    });

    document.getElementById('createUserForm').addEventListener('submit', function(event) {
        event.preventDefault();
        // if(formValidation() == false) {
        //     return;
        // }

        const form = document.getElementById('createUserForm');
        const submit = document.getElementById('submitButton');

        submit.disabled = true;

        const day = document.getElementById('birthdayDay').value;
        const month = document.getElementById('birthdayMonth').value;
        const year = document.getElementById('birthdayYear').value;

        if (!day || !month || !year) {
            alert('Please select a valid date.');
            return;
        }

        const date = new Date(year, month - 1, day);

        const formData = {
            firstName: document.getElementById('firstName').value,
            lastName: document.getElementById('lastName').value,
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
            role: document.getElementById('role').value,
            enabled: document.getElementById('enabled').checked,
            birthDate: date.getTime(), //date.toISOString()
            avatar: image,
        };

        fetch('/admin/users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.ok ? response.json(): Promise.reject(response.status))
        .then(data => {
            console.log('Success:', data);
            // Handle success
        })
        .catch((error) => {
            console.error('Error:', error);
            // Handle error
        });
    });

});
    
</script>
</body>
</html>
