$primary-color: #2d3b48;
$secondary-color: #4b5c6d;
$accent-color: #555;
$text-color: #fff;
$background: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #2d3b48;
  --secondary-color: #4b5c6d;
  --on-primary-color: #181818;
  --on-secondary-color: #2d3b48;
  --background-color: #f4f7fc;
  --font-family-primary: system-ui, -apple-system, "Segoe UI", "nunito", "Cairo", Arial, sans-serif;
  --box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.dark-mode {
  --primary-color: #212121;
  --secondary-color: #2d3b48;
  --on-primary-color: #f4f4f4;
  --on-secondary-color: #f4f7fc;
  --background-color: #2d3b48;
  --bs-table-color: #f4f4f4;
  --font-family-primary: 'nunito', 'Cairo', Arial, sans-serif;
  --font-family-secondary: 'Cairo', Arial, sans-serif;
  --box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-size: 15px;
  font-family: var(--font-family-primary);
  color: var(--on-primary-color);
  background-color: var(--background-color);
}

.box {
  padding: 8px;
  margin-bottom: 15px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-light);
}

.box-title {
  border-bottom: 1px solid #9d9d9d;
  color: #757575;
}

.page-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.box-round {
  padding: 1rem;
  margin-bottom: 0.9rem;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 8px;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  &.with-small-txt{
    flex-direction: column !important;
    align-items: flex-start;
  }
  
  .title{
      font-size: 18px;
      font-weight: bold;
      margin: 0;
  }
  .link{
      text-decoration: none !important;
      font-size: 15px !important;
      color: #333 !important;

      &:hover{
        color: #ffaf02 !important;
      }
  }
}

.page-title{
  font-size: 24px;
  font-weight: bold;
  color: #1b1b1b;
}

.container-2 {
  display: flex;

  & {
    flex-wrap: nowrap;
  }

  >* {
    width: 50%;
    flex: 1;
  }
}

.container-4 {
  display: flex;

  & {
    flex-wrap: nowrap;
  }

  >* {
    width: calc(25% - 8px);
    max-width: calc(25% - 8px);
    flex: 1;
  }
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;

  .content {
    flex: 1 0 auto;
    max-width: calc(100% - 200px);
  }
}

.txt-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.txt-subtitle-l {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-m {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-s {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}


/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}


/* CSS */
.button-26 {
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.button-26:active {
  background-color: #0039D7;
  border-color: #0039D7;
}


/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.form-control:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.hline-sm{
  height: 1px;
  background-color: #e5e5e5;
}

.hline-lg{
  height: 2px;
  background-color: #e5e5e5;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-col-50{
  width: 50%;
}

.flex-col-25{
  width: 25%;
}

.flex-col-20{
  width: 20%;
}

.margin-0{
  margin: 0 !important;
}

.margin-4{
  margin: 4px !important;
}

.margin-8{
  margin: 8px !important;
}

.margin-12{
  margin: 12px !important;
}

.margin-16{
  margin: 16px !important;
}

.margin-20{
  margin: 20px !important;
}

.margin-24{
  margin: 24px !important;
}

.marginx-0{
  margin-left: 0;
  margin-right: 0;
}

.marginx-4{
  margin-left: 4px;
  margin-right: 4px;
}

.marginx-8{
  margin-left: 8px;
  margin-right: 8px;
}

.marginx-12{
  margin-left: 12px;
  margin-right: 12px;
}

.marginx-16{
  margin-left: 16px;
  margin-right: 16px;
}

.marginx-20{
  margin-left: 20px;
  margin-right: 20px;
}

.marginx-24{
  margin-left: 24px;
  margin-right: 24px;
}

.marginy-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.marginy-1{
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.marginy-2{
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.marginy-3{
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.marginy-4{
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.marginy-5{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.marginy-6{
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.margint-0{
  margin-top: 0 !important;
}

.margint-4{
  margin-top: 4px !important;
}

.margint-8{
  margin-top: 8px !important;
}

.margint-12{
  margin-top: 12px !important;
}

.margint-16{
  margin-top: 16px !important;
}

.margint-20{
  margin-top: 20px  !important;
}

.margint-24{
  margin-top: 24px !important;
}

.marginb-0{
  margin-bottom: 0 !important;
}

.marginb-4{
  margin-bottom: 4px !important;
}

.marginb-8{
  margin-bottom: 8px !important;
}

.marginb-12{
  margin-bottom: 12px !important;
}

.marginb-16{
  margin-bottom: 16px !important;
}

.marginb-20{
  margin-bottom: 20px !important;
}

.marginb-24{
  margin-bottom: 24px !important;
}

.padding-0{
  padding: 0 !important;
}

.padding-4{
  padding: 4px !important;
}

.padding-8{
  padding: 8px !important;
}

.padding-12{
  padding: 12px !important;
}

.padding-16{
  padding: 16px !important;
}

.padding-20{
  padding: 20px !important;
}

.padding-24{
  padding: 24px !important;
}

.paddingx-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paddingx-4{
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.paddingx-8{
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.paddingx-12{
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.paddingx-16{
  padding-left: 16px !important;
  padding-right: 16px  !important;
}

.paddingx-20{
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.paddingx-24{
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.paddingy-0{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.paddingy-4{
  padding-top: 4px;
  padding-bottom: 4px;
}

.paddingy-8{
  padding-top: 8px;
  padding-bottom: 8px;
}

.paddingy-12{
  padding-top: 12px;
  padding-bottom: 12px;
}

.paddingy-16{
  padding-top: 16px;
  padding-bottom: 16px;
}

.paddingy-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingy-24{
  padding-top: 24px;
  padding-bottom: 24px;
}

.paddingt-0{
  padding-top: 0;
}

.paddingt-4{
  padding-top: 4px;
}

.paddingt-8{
  padding-top: 8px;
}

.paddingt-12{
  padding-top: 12px;
}

.paddingt-16{
  padding-top: 16px;
}

.paddingt-20{
  padding-top: 20px;
}

.paddingt-24{
  padding-top: 24px;
}

.paddingb-0{
  padding-top: 0;
}

.paddingb-4{
  padding-top: 4px;
}

.paddingb-8{
  padding-top: 8px;
}

.paddingb-12{
  padding-top: 12px;
}

.paddingb-16{
  padding-top: 16px;
}

.paddingb-20{
  padding-top: 20px;
}

.paddingb-24{
  padding-top: 24px;
}


.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-muted{
  color: #86b7fe;
}

.text-primary{
  color: #13aa52;
}

.font-sm{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2px;
}

.font-xs{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1px;
}

.font-lg{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.font-xl{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}