#createCategoryModel {
    position: absolute;
    top: 50px;
    left: calc(50% - 400px);
    display: none;
    background-color: #FAFAFA;
    max-width: 800px;
    outline: none;
    border: none;
    box-shadow: 0px 3px 10px rgb(143 136 136 / 20%);
}

.category-create-form {
    .form-wrap {
        max-width: 900px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-right: 30px;
        padding-left: 30px;
        position: relative;

        .title {
            margin-bottom: 20px;
            font-size: 1.5rem;
            font-weight: 500;
        }

        .image-priview {
            margin-top: 15px;
        }

        .image-priview__image {
            max-width: 100%;
            max-height: 300px;
            display: none;
            border: 1px solid #ddd;
            padding: 5px;
        }
    }
}

.categories-home {
    .btn-delete {
        color: rgb(227, 100, 46);
    }

    .btn-edit {
        color: rgb(67, 137, 10);
    }

    .btn-sub {
        color: rgb(47, 102, 172);
    }

    .btn-menu {
        color: rgb(81, 92, 72);
    }

    .pagination {
        margin-top: 20px;
    }

    .pagination li {
        display: inline-block;
    }

    .pagination li.active {
        background-color: #4CAF50;
        color: white;
        border: none;
    }

    .pagination li.disabled {
        background-color: #f2f2f2;
        color: #d1d1d1;
        border: none;
    }

    .pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination li a:hover:not(.active) {
        background-color: #ddd;
    }

    .pagination li.next {
        float: right;
    }

    .pagination li.previous {
        float: left;
    }

    .pagination li.disabled {
        pointer-events: none;
    }

    .pagination li.next a {
        float: right;
    }

    .pagination li.previous a {
        float: left;
    }
}

.category-edit {

    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form button {
        width: 100%;
    }
}

.category-list {}