
/* Start Footer fragment Styles */

.footer {
    background-color: #2d3b48;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    
    p {
      font-size: 14px;
    }
  }
  
  
  
  /* End Footer fragment Styles */
  