/* start header fragment style */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: 2px solid #eee;

    .search-container {
        .search {
            position: relative;
            display: flex;
            align-items: center;

            .search-input {
                width: 200px;
                padding-left: 30px;
                height: 36px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 0;
                outline: 0;
            }

            .search-button {
                width: 36px;
                height: 36px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-left: 0;
                outline: 0;
            }
        }
    }

    .header-left {
        display: flex;

        .logo {
            margin-right: 50px;
        }
    }

    .logo-img {
        width: 32px;
        height: auto;
    }

    .user-info {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;


        .user-dropdown {
            position: relative;
            cursor: pointer;
            padding: 5px;
            border-radius: 4px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #f5f5f5;
            }

            &:hover .user-dropdown-menu {
                display: block;
            }

            span {
                margin-right: 10px;
                font-size: 14px;
                font-weight: 500;
                color: #333;
            }

            .user-avatar {
                display: inline-block;
            }

            .user-dropdown-menu {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: #fff;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                border: 1px solid #ddd;
                border-radius: 4px;
                z-index: 1000;
                transition: all 0.3s ease;

                a.dropdown-item {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #333;
                    transition: background-color 0.3s ease;
                    font-size: 14px;

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }

    .notification-wrap {
        display: flex;
        align-items: center;
        gap: 8px;

        .notification-dropdown {
            min-width: 200px;
            position: absolute;
            top: 100%;
            left: -90px;
            z-index: 1;
            display: none;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #fff;

            .notification-body {
                .notification-item {
                    font-size: 0.9rem;
                    color: #333;

                    &:hover {
                        background-color: #333;
                        color: #fff;
                    }
                }

            }
        }
    }

    .notification {
        position: relative;
        cursor: pointer;

        &:hover .notification-dropdown {
            display: block;
        }

        span {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            background-color: #f44d42;
            color: #fff;
            padding: 5px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .user-avatar,
    .notification-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .logout-btn {
        padding: 8px 15px;
        background-color: #f44336;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-left: 20px;

        &:hover {
            background-color: #e53935;
        }
    }

}

/* end header fragment style */