/* star product create page */
#createCategoryMode {
  transition: all 0.3s;
}

.create-product-container {
  max-width: 1200px;
  width: 800px;
  margin: 0 auto;

  .price-input,
  .stock-input,
  .control-input,
  .input-brand,
  .name-input {
    padding: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    line-height: 1.5;
    font-size: 16px;
  }

  .input-section {
    margin-bottom: 15px;
  }

  .name-input,
  .input-brand,
  .description-input {
    width: 100%;
    outline: none !important;
  }

  .description {
    .description-input {
      font-size: 16px;
      color: #333;
      line-height: 1.5;
      display: inline-block;
      overflow-wrap: break-word;
      margin: 0em;
      padding: .5rem;
      white-space: pre-wrap;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .product-row {
    display: flex;

    .price {
      margin-right: .8rem;
    }
  }


  .product-enabled {
    display: flex;
    gap: 1rem;
    margin-bottom: .8rem;

    .active-checkbox {
      display: flex;

      input {
        margin-right: .2rem;
      }

      label {
        width: 140px;
      }
    }

    .enabled-checkbox {
      display: flex;

      input {
        margin-right: .2rem;
      }

      label {
        width: 140px;
      }
    }
  }

  .product-category {
    margin-bottom: .8rem;

    .category {
      position: relative;

      .category-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        background-color: #f9f9f9;
        transition: all 0.3s;

        &.active {
          display: block;
        }

        p {
          padding: .9rem 1rem;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            background-color: #e6e6e6;
          }
        }
      }

      #categoryInput {
        width: 100%;
        height: 45px;
      }
    }
  }

  .product-primary-img {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;

    .file-primery-image {
      display: none;
    }

    .title {
      font-size: 0.9rem;
      font-weight: 700;
    }

    .primary-image-preview {
      position: relative;
      padding: 5px;
      margin-bottom: 12px;
      width: 300px;
      height: 300px;
      margin-right: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1/1;
      }

      .delete-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 10px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
      }
    }

    .product-images {
      input {
        display: none;
      }
    }

    #imagesPreview {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 100%;
      min-height: 300px;
      padding: 1rem;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      margin-bottom: 1rem;
    }

    .submit-button {
      margin-top: 1.5rem;
    }

    .product-brand {
      margin-bottom: 1rem;
    }

    label {
      display: block;
    }



    h2 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}