@import url('https://fonts.googleapis.com/css2?family=nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

@import 'app';
@import 'header';
@import 'sidebar';
@import 'footer';
@import '_cart_index';
@import 'category_create';
@import 'category_index';
@import 'category_list';
@import '_create_links';
@import 'index';
@import 'order_index';
@import 'product_create';
@import 'product_edit';
@import 'product_list';
@import 'user_create';





/* start cart detials page*/
.cart__product {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #eee;

  .name {
    width: 50%;
  }

  .price {
    width: 20%;
  }

  .quantity {
    width: 10%;
  }

  .total {
    width: 20%;
  }
}


/* end cart detials page */
