@import url("https://fonts.googleapis.com/css2?family=nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2d3b48;
  --secondary-color: #4b5c6d;
  --on-primary-color: #181818;
  --on-secondary-color: #2d3b48;
  --background-color: #f4f7fc;
  --font-family-primary: "nunito", "Cairo", Arial, sans-serif;
  --font-family-secondary: "Cairo", Arial, sans-serif;
  --box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --primary-color: #212121;
  --secondary-color: #2d3b48;
  --on-primary-color: #f4f4f4;
  --on-secondary-color: #f4f7fc;
  --background-color: #2d3b48;
  --bs-table-color: #f4f4f4;
  --font-family-primary: "nunito", "Cairo", Arial, sans-serif;
  --font-family-secondary: "Cairo", Arial, sans-serif;
  --box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-size: 15px;
  font-family: var(--font-family-primary);
  color: var(--on-primary-color);
  background-color: var(--background-color);
}

.box {
  padding: 8px;
  margin-bottom: 15px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-light);
}

.box-title {
  border-bottom: 1px solid #9d9d9d;
  color: #757575;
}

.page-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.box2 {
  padding: 1rem;
  margin-bottom: 0.9rem;
  background-color: #ffffff;
  border: 1px solid #ededed;
  border-radius: 8px;
}

.container-2 {
  display: flex;
}
.container-2 {
  flex-wrap: nowrap;
}
.container-2 > * {
  width: 50%;
  flex: 1;
}

.container-4 {
  display: flex;
}
.container-4 {
  flex-wrap: nowrap;
}
.container-4 > * {
  width: calc(25% - 8px);
  max-width: calc(25% - 8px);
  flex: 1;
}

.page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
}
.page-wrapper .content {
  flex: 1 0 auto;
  max-width: calc(100% - 200px);
}

.txt-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.txt-subtitle-l {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-m {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-s {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* CSS */
.button-28 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: 0.5;
}

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, transform 0.1s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: 0.75;
}

/* CSS */
.button-26 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
}

.button-26:disabled {
  opacity: 0.5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.button-26:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
.form-control:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.horizontal-line-sm {
  height: 1px;
  background-color: #e5e5e5;
}

.horizontal-line-lg {
  height: 2px;
  background-color: #e5e5e5;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 12px;
}

.m-4 {
  margin: 16px;
}

.m-5 {
  margin: 20px;
}

.m-6 {
  margin: 24px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-3 {
  margin-left: 12px;
  margin-right: 12px;
}

.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-6 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-6 {
  margin-top: 24px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.p-6 {
  padding: 24px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: #86b7fe;
}

.text-primary {
  color: #13aa52;
}

.font-sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2px;
}

.font-xs {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1px;
}

.font-lg {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.font-xl {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

/* start header fragment style */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 2px solid #eee;
}
.top-header .header-left {
  display: flex;
}
.top-header .header-left .logo {
  margin-right: 50px;
}
.top-header .logo-img {
  width: 32px;
  height: auto;
}
.top-header .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.top-header .user-info span {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.top-header .notification-wrap {
  display: flex;
  gap: 8px;
}
.top-header .notification {
  position: relative;
}
.top-header .notification span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #f44d42;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.top-header .user-avatar,
.top-header .notification-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-header .logout-btn {
  padding: 8px 15px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
.top-header .logout-btn:hover {
  background-color: #e53935;
}

/* end header fragment style */
/* start sidebar fragment style */
.navigation {
  flex: 0 0 auto;
  width: 200px;
  color: #fff;
  background-color: #2d3b48;
}
.navigation .sidebar .brand {
  padding: 20px 10px;
  text-align: center;
}
.navigation .sidebar .brand .logo {
  width: 55px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.navigation .sidebar .brand .title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}
.navigation .sidebar .nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation .sidebar .menu-item {
  color: #fff;
  font-size: 14px;
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.navigation .sidebar .menu-item a {
  font-size: 15px;
  padding: 10px 12px;
  color: #fff;
  fill: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  outline: none;
}
.navigation .sidebar .menu-item:hover {
  background-color: #4b5c6d;
}
.navigation .sidebar .menu-item:hover a {
  color: rgb(184, 184, 184);
}

/* end sidebar fragment style */
/* Start Footer fragment Styles */
.footer {
  background-color: #2d3b48;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
}

.footer p {
  font-size: 14px;
}

/* End Footer fragment Styles */
/* start admin home page */
.states {
  display: flex;
  width: 80%;
  margin: 30px auto 0px auto;
}

.state-1, .states-2, .states-3, .states-4 {
  display: flex;
}

.states-4 > * {
  width: calc(25% - 10px);
  max-width: calc(25% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

.states-3 > * {
  width: calc(33.33333% - 10px);
  max-width: calc(33.33333% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

.states-2 > * {
  width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

.state-card {
  margin-left: 8px;
  margin-right: 8px;
  flex: 1;
}
.state-card .state-card__body {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.state-card h3 {
  font-size: 18px;
  color: #555;
}
.state-card p {
  font-size: 24px;
  color: #333;
}
.state-card p small {
  font-size: 12px;
  color: #ccc;
}

.recent-activity {
  margin-top: 40px;
}
.recent-activity h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}
.recent-activity ul {
  list-style-type: none;
}

.chart-container {
  height: 300px;
}

.revenue {
  width: 50%;
}

/* end admin home page */
.image-upload .drop-zone {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  margin: 20px 0;
}

.edit-product-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.edit-product-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.edit-product-container .product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.edit-product-container .product-images .image {
  width: calc(50% - 10px);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.edit-product-container .product-images .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.edit-product-container .product-images .delete-btn {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.edit-product-container .product-images .img-item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.edit-product-container form .form-group {
  margin-bottom: 15px;
}
.edit-product-container form button {
  width: 100%;
}

.product-home .counter-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.product-home .counter {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 20%;
  background-color: #fff;
}
.product-home .list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.product-home .list {
  width: 48%;
}
.product-home .links {
  margin-bottom: 20px;
}
.product-home .links a {
  text-decoration: none;
  display: inline-block;
  margin-inline-end: 15px;
}

/* star product create page */
#createCategoryMode {
  transition: all 0.3s;
}

.create-product-container {
  max-width: 1200px;
  width: 800px;
  margin: 0 auto;
}
.create-product-container .product-info .mame,
.create-product-container .product-info .description,
.create-product-container .product-info .price,
.create-product-container .product-info .stock {
  margin-bottom: 15px;
}
.create-product-container .product-info .product-row {
  display: flex;
}
.create-product-container .product-info .product-row .price {
  margin-right: 0.8rem;
}
.create-product-container .product-enabled {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.create-product-container .product-enabled .active-checkbox {
  display: flex;
}
.create-product-container .product-enabled .active-checkbox input {
  margin-right: 0.2rem;
}
.create-product-container .product-enabled .active-checkbox label {
  width: 140px;
}
.create-product-container .product-enabled .enabled-checkbox {
  display: flex;
}
.create-product-container .product-enabled .enabled-checkbox input {
  margin-right: 0.2rem;
}
.create-product-container .product-enabled .enabled-checkbox label {
  width: 140px;
}
.create-product-container .category-wrp {
  margin-bottom: 0.8rem;
}
.create-product-container .category-wrp .category {
  position: relative;
}
.create-product-container .category-wrp .category #category {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #f9f9f9;
  transition: all 0.3s;
}
.create-product-container .category-wrp .category #category.active {
  display: block;
}
.create-product-container .category-wrp .category #category p {
  padding: 0.9rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.create-product-container .category-wrp .category #category p:hover {
  background-color: #e6e6e6;
}
.create-product-container .category-wrp .category #categoryInput {
  width: 100%;
  height: 45px;
}
.create-product-container .product-primary-img {
  background-color: aliceblue;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.create-product-container .product-primary-img .file-primery-image {
  display: none;
}
.create-product-container .product-primary-img .title {
  font-size: 0.9rem;
  font-weight: 700;
}
.create-product-container .product-primary-img #MainImagePreview {
  padding: 5px;
  /* background-color: #ccc; */
  margin-bottom: 12px;
  width: 300px;
  height: 300px;
  /* margin-left: auto; */
  margin-right: auto;
}
.create-product-container .product-images input {
  display: none;
}
.create-product-container #imagesPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
  min-height: 300px;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}
.create-product-container .submit-button {
  margin-top: 1.5rem;
}
.create-product-container .product-brand {
  margin-bottom: 1rem;
}
.create-product-container label {
  display: block;
}
.create-product-container textarea {
  font-size: 16px;
  color: #333;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 1.5;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  overflow-wrap: break-word;
  background-color: #f9f9f9;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  padding: 0.5rem;
  white-space: pre-wrap;
}
.create-product-container input {
  /* display: block; */
  /* width: 100%; */
  padding: 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  outline: none;
  line-height: 1.5;
  font-size: 16px;
}
.create-product-container h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.create-product-container button {
  width: 100%;
}
.create-product-container #name,
.create-product-container #description {
  width: 100%;
  outline: none !important;
}

/* end product create page */
/* start create user form page */
.create-user-container {
  flex: 1 0 600px;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.create-user-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.create-user-container form .form-group {
  margin-bottom: 15px;
}
.create-user-container form .form-group .input-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}
.create-user-container form .form-group .input-message.is-invalid {
  display: block !important;
}
.create-user-container form .avatar-button {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  margin-top: 8px;
}

/* end create user form page */
/* start cart detials page*/
.cart__product {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.cart__product .name {
  width: 50%;
}
.cart__product .price {
  width: 20%;
}
.cart__product .quantity {
  width: 10%;
}
.cart__product .total {
  width: 20%;
}

/* end cart detials page */