@import url('https://fonts.googleapis.com/css2?family=nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

$primary-color: #2d3b48;
$secundry-color: #4b5c6d;
$accent-color: #555;
$text-color: #fff;
$background: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #2d3b48;
  --secondary-color: #f4f7fc;
  --on-primary-color: #f4f7fc;
  --on-secondary-color: #2d3b48;
  --background-color: #f4f7fc;
  --font-family-primary: 'nunito', 'Cairo', Arial, sans-serif;
  --font-family-secondary: 'Cairo', Arial, sans-serif;
  --box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #435267;
  --bs-btn-border-color: #60656d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #080809;
  --bs-btn-hover-border-color: #15181c;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #636b78;
  --bs-btn-active-border-color: #5a626e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(46, 40, 40, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7b8087;
  --bs-btn-disabled-border-color: #6e737b;
}

.dark-mode {
  --primary-color: #f4f7fc;
  --secondary-color: #2d3b48;
  --on-primary-color: #2d3b48;
  --on-secondary-color: #f4f7fc;
  --background-color: #2d3b48;
}

body {
  font-size: 15px;
  font-family: var(--font-family-primary);
  color: var(--primary-color);
  background-color: var(--background-color);
}

.box {
  padding: 8px;
  margin-bottom: 15px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-light);
}

.box2 {
  padding: 8px;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main {
  flex: 1;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.txt-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.txt-subtitle-l {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-m {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-s {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* start admin home page */


.stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;

  @media only screen and (min-width: 200px) {
    display: block;
  }
}

.stat-card {
  @media only screen and (min-width: 200px) {
    margin-top: 20px;
  }
}

.stat-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
}

.stat-card h3 {
  font-size: 18px;
  color: #555;
}

.stat-card p {
  font-size: 24px;
  color: #333;
}

.stat-card p small {
  font-size: 12px;
  color: #ccc;
}

.recent-activity {
  margin-top: 40px;
}

.recent-activity h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.recent-activity ul {
  list-style-type: none;
}

.chart-container {
  height: 300px;
}

.revenue {
  width: 50%;
}


/* end admin home page */

/* Start Footer fragment Styles */

.footer {
  background-color: #2d3b48;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  font-size: 14px;
}

/* End Footer fragment Styles */

/* start sidebar fragment style */

.navigation {
  width: 200px;
  color: #fff;
  background-color: #2d3b48;

  .sidebar {
    .brand {
      padding: 20px 10px;
      text-align: center;

      .logo {
        width: 55px;
        height: auto;
        margin: 0 auto;
        display: block;
      }

      .title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
        margin-top: 8px;
      }

      .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

    }

    .menu-item {
      color: #fff;
      font-size: 14px;
      display: block;
      transition: background-color 0.3s ease, transform 0.3s ease;

      a {
        font-size: 15px;
        padding: 10px 12px;
        color: #fff;
        text-decoration: none;
        display: block;
        outline: none;
      }

      &:hover {
        background-color: #4b5c6d;

        a {
          color: rgb(184, 184, 184);
        }
      }

    }
  }
}



/* end sidebar fragment style */

/* start header fragment style */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 2px solid #eee;

  .logo-img {
    width: 32px;
    height: auto;
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;

    span {
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;
      color: #333;
    }
  }

  .notification {
    position: relative;

    span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      background-color: #f44d42;
      color: #fff;
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .user-avatar,
  .notification-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logout-btn {
    padding: 8px 15px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 20px;

    &:hover {
      background-color: #e53935;
    }
  }

}

/* end header fragment style */

/* start create user form page */
.create-user-container {
  flex: 1 0 600px;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    .form-group {
      margin-bottom: 15px;
    }

    button {
      width: 100%;
    }
  }
}

/* end create user form page */

/* star product create page */

#createCategoryMode {
  transition: all 0.3s;
}

.create-product-container {
  max-width: 1200px;
  width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  form .form-group {
    margin-bottom: 15px;
  }

  form button {
    width: 100%;
  }
}

/* end product create page */

/* start cart detials page*/
.cart__product {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #eee;

  .name {
    width: 50%;
  }

  .price {
    width: 20%;
  }

  .quantity {
    width: 10%;
  }

  .total {
    width: 20%;
  }
}


/* end cart detials page */