@import url('https://fonts.googleapis.com/css2?family=nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

$primary-color: #2d3b48;
$secondary-color: #4b5c6d;
$accent-color: #555;
$text-color: #fff;
$background: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #2d3b48;
  --secondary-color: #4b5c6d;
  --on-primary-color: #181818;
  --on-secondary-color: #2d3b48;
  --background-color: #f4f7fc;
  --font-family-primary: 'nunito', 'Cairo', Arial, sans-serif;
  --font-family-secondary: 'Cairo', Arial, sans-serif;
  --box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.dark-mode {
  --primary-color: #212121;
  --secondary-color: #2d3b48;
  --on-primary-color: #f4f4f4;
  --on-secondary-color: #f4f7fc;
  --background-color: #2d3b48;
  --bs-table-color: #f4f4f4;
  --font-family-primary: 'nunito', 'Cairo', Arial, sans-serif;
  --font-family-secondary: 'Cairo', Arial, sans-serif;
  --box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-medium: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-size: 15px;
  font-family: var(--font-family-primary);
  color: var(--on-primary-color);
  background-color: var(--background-color);
}

.box {
  padding: 8px;
  margin-bottom: 15px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-light);
}

.box-title{
  border-bottom: 1px solid #9d9d9d;
  color: #757575;
}

.page-title{
  font-size: 1.2rem;
  font-weight: 700;
}

.box2 {
  padding: 8px;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-2{
  display: flex;
  &{
    flex-wrap: nowrap;
  }

  > *{
    width: 50%;
    flex: 1;
  }
}

.container-4{
  display: flex;
  &{
    flex-wrap: nowrap;
  }

  > *{
    width: calc(25% - 8px);
    max-width: calc(25% - 8px);
    flex: 1;
  }
}

.page-wrapper {
  display: flex;
  flex-wrap: nowrap;
  
  .content {
    flex: 1 0 auto;
  }
}

.txt-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.txt-subtitle-l {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-m {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.txt-subtitle-s {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* start admin home page */

.states {
  display: flex;
  width: 80%;
  margin: 30px auto 0px auto;
}

.state-1, .states-2, .states-3, .states-4{
  display: flex;
}

.states-4{
  > * {
    width: calc(25% - 10px);
    max-width: calc(25% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
  }
}

.states-3{
  > * {
    width: calc(33.33333% - 10px);
    max-width: calc(33.33333% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
  }
}

.states-2{
  > * {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
  }
}

.state-card {
  margin-left: 8px;
  margin-right: 8px;
  flex: 1;

  .state-card__body {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h3 {
    font-size: 18px;
    color: #555;
  }

  p {
    font-size: 24px;
    color: #333;

    small {
      font-size: 12px;
      color: #ccc;
    }
  }
}

.recent-activity {
  margin-top: 40px;

  h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
  }
}


.chart-container {
  height: 300px;
}

.revenue {
  width: 50%;
}


/* end admin home page */

/* Start Footer fragment Styles */

.footer {
  background-color: #2d3b48;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
}

.footer p {
  font-size: 14px;
}

/* End Footer fragment Styles */

/* start sidebar fragment style */

.navigation {
  flex: 0 0 auto;
  width: 200px;
  color: #fff;
  background-color: #2d3b48;

  .sidebar {
    .brand {
      padding: 20px 10px;
      text-align: center;

      .logo {
        width: 55px;
        height: auto;
        margin: 0 auto;
        display: block;
      }

      .title {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
        margin-top: 8px;
      }
    }

    .nav-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .menu-item {
      color: #fff;
      font-size: 14px;
      display: block;
      transition: background-color 0.3s ease, transform 0.3s ease;

      a {
        font-size: 15px;
        padding: 10px 12px;
        color: #fff;
        fill: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        outline: none;
      }

      &:hover {
        background-color: #4b5c6d;

        a {
          color: rgb(184, 184, 184);
        }
      }

    }
  }
}



/* end sidebar fragment style */

/* start header fragment style */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 2px solid #eee;

  .header-left {
    display: flex;

    .logo {
      margin-right: 50px;
    }
  }

  .logo-img {
    width: 32px;
    height: auto;
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;

    span {
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;
      color: #333;
    }
  }

  .notification-wrap {
    display: flex;
    gap: 8px;
  }

  .notification {
    position: relative;

    span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      background-color: #f44d42;
      color: #fff;
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .user-avatar,
  .notification-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logout-btn {
    padding: 8px 15px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 20px;

    &:hover {
      background-color: #e53935;
    }
  }

}

/* end header fragment style */

/* start create user form page */
.create-user-container {
  flex: 1 0 600px;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    .form-group {
      margin-bottom: 15px;
    }

    button {
      width: 100%;
    }
  }
}

/* end create user form page */

/* star product create page */
#createCategoryMode {
  transition: all 0.3s;
}

.create-product-container {
  max-width: 1200px;
  width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  form .form-group {
    margin-bottom: 15px;
  }

  form button {
    width: 100%;
  }
}
/* end product create page */

/* start cart detials page*/
.cart__product {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #eee;

  .name {
    width: 50%;
  }

  .price {
    width: 20%;
  }

  .quantity {
    width: 10%;
  }

  .total {
    width: 20%;
  }
}


/* end cart detials page */

// users index start
.container-user-chart{
  display: flex;
  flex-wrap: nowrap;
  
  .chart-users-reg{
    width: calc(50% - 8px);
    max-width: calc(50% - 8px);
    margin: 0 4px;
    flex: 1;
    background-color: var(--primary-color);
  }
}
//user index end