<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="product-details-container">
        <h2 th:text="${product.name}">Product Name</h2>
        <div class="text-center">
            <img th:src="@{${product.imageUrl}}" alt="Product Image">
        </div>
        <div class="price" th:text="${product.price}">Price</div>
        <div class="description" th:text="${product.description}">
            This is a detailed description of the product.
        </div>
        <div class="add-to-cart">
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>

    <div class="similar-products">
        <h3>Similar Products</h3>
        <div class="row">
            <div class="col-md-4" th:each="similarProduct : ${similarProducts}">
                <div class="product-item">
                    <img th:src="@{${similarProduct.imageUrl}}" alt="Similar Product Image">
                    <div th:text="${similarProduct.name}">Similar Product Name</div>
                    <div class="price" th:text="${similarProduct.price}">Price</div>
                </div>
            </div>
        </div>
    </div>


    <div class="people-see">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="img-1" src="images/img-1.jpg">
                            <img class="img-2" src="images/img-2.jpg">
                        </a>
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-random"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        <a href="#" class="product-view"><i class="fa fa-search"></i></a>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star disable"></li>
                            <li class="disable">(1 reviews)</li>
                        </ul>
                        <h3 class="title"><a href="#">Women's Blouse Top</a></h3>
                        <div class="price">$65.99</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="user-reviews">
        <h3>User Reviews</h3>
        <div th:each="review : ${product.reviews}">
            <div class="review-item">
                <h5 th:text="${review.userName}">User Name</h5>
                <p th:text="${review.comment}">Review comment here</p>
                <small th:text="${review.date}">Review date</small>
            </div>
        </div>
        <div class="review-form">
            <h4>Add Your Review</h4>
            <form th:action="@{/product/${product.id}/review}" method="post">
                <div class="form-group">
                    <label for="userName">Name:</label>
                    <input type="text" class="form-control" id="userName" name="userName" required>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
