<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Company Name is led by CEO John Doe. We specialize in XYZ services. Learn more about our leadership and offerings."> 
    <meta name="keywords" content="Company Name, CEO, John Doe, Business Leadership, XYZ services"> 
    <meta name="robots" content="index, follow"> 
    <title>Product List</title>
  
    <link href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h1 class="text-center my-4">Product List</h1>
    
    <div class="row">
        <div class="col-6 col-md-3" th:each="product : ${products}">
            <div th:replace="fragments/product_card :: productCard(${product})"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
