<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/admin/main.css" th:href="@{/css/admin/main.css}">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" th:replace="~{admin/fragments/navigation :: navigation}"></nav>
        <main class="main-content">
            <section class="stats">
                <div class="stat-card">
                    <h3>Users</h3>
                    <p><span th:text="${cartState1}">250</span></p>
                    <p><small>this month</small></p>
                </div>
                <div class="stat-card">
                    <h3>Orders</h3>
                    <p><span th:text="${cartState2}">120</span></p>
                    <p><small>this month</small></p>
                </div>
                <div class="stat-card">
                    <h3>Revenue</h3>
                    <p><span th:text="${cartState3}">$5,000</span></p>
                    <p><small>this month</small></p>
                </div>
                <div class="stat-card">
                    <h3>Orders</h3>
                    <p><span th:text="${cartState4}">120</span></p>
                    <p><small>this month</small></p>
                </div>
                <div class="stat-card">
                    <h3>Revenue</h3>
                    <p><span th:text="${cartState5}">$5,000</span></p>
                    <p><small>this month</small></p>
                </div>
            </section>

            <section class="d-flex justify-content-between gap-sm">
                <div th:if="${carts != null}">
                    <h1>Last 10 Carts</h1>
                    <div class="carts box" style="list-style-type: none;">
                        <ul style="list-style-type: none; padding: 0;">
                            <li th:each="cart : ${carts}" th:if="${cart != null}" style="list-style-type: none; display: flex; flex-wrap: nowrap;">
                                <p th:text="${cart.cartId}" style="width: 60%;">123</p>
                                <p th:text="${cart.total}" style="width: 10%;">4567</p>
                                <p th:text="${cart.created}" style="width: 10%;">4567</p>
                                <p th:text="${cart.updated}" style="width: 10%;">4567</p>
                                <p th:text="${#lists.size(cart.cartItems)}" style="width: 10%;">4567</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <div class="summary">
                    <div class="card">
                        <h2>Total Carts</h2>
                        <p><span th:text="${totalCarts}"></span></p>
                    </div>
                    <div class="card">
                        <h2>Total Price</h2>
                        <p><span th:text="${totalPrice}"></span></p>
                    </div>
                </div>
            </section>
        </main>
        
    </div>
    <!-- Footer -->
    <footer th:replace="~{admin/fragments/footer::footer}"></footer>
</body>
</html>