<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" th:content="${pageAuthor}" />
    <meta name="description" th:content="${pageDescription}" />
    <title th:text="${pageTitle}">Document</title>
    <link rel="stylesheet" href="../../../static/public/css/bootstrap-5.3.3/dist/css/bootstrap.min.css" 
    th:href="@{/public/css/bootstrap-5.3.3/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../static/admin/main.css" th:href="@{/admin/main.css}">
    <style>
        .section-row{
            margin-bottom: 30px;
        }
        .top-links{
            margin-bottom: 30px;
        }
        .top-links .link{
            display: inline-block;            
        }
        .top-links .link a{
            text-decoration: none;
            color: beige;
            background-color: rgb(14, 44, 33);
            border-radius: 4px;
            margin-inline-end: 8px;
            padding-inline: 12px;
            padding-block: 6px;
        }
        .top-links .link a:hover{
            background-color: rgb(35, 82, 51);
        }
    </style>
</head>

<body>
    <div class="wrapper">        
        <nav id="sidebar" th:replace="~{admin/fragments/navigation :: navigation}"></nav>
        <main class="content">
            <div class="cart-container">
                <div class="top-links">
                    <div class="link"><a href="#">All Carts</a></div>
                    <div class="link"><a href="#">link</a></div>
                    <div class="link"><a href="#">link</a></div>
                    <div class="link"><a href="#">link</a></div>
                    <div class="link"><a href="#">link</a></div>
                </div>
                <section class="cart-stats section-row">
                    <div class="cart-state__card">
                        <p class="title">Users</p>
                        <p class="state-val"><span th:text="${cartState1}">250</span></p>
                        <p class="sub-value"><span>this month</span></p>
                    </div>
                    <div class="cart-state__card">
                        <p class="title">Orders</p>
                        <p class="state-val"><span th:text="${cartState2}">120</span></p>
                        <p class="sub-value"><span>this month</span></p>
                    </div>
                    <div class="cart-state__card">
                        <p class="title">Revenue</p>
                        <p class="state-val"><span th:text="${cartState3}">$5,000</span></p>
                        <p class="sub-value"><span>this month</span></p>
                    </div>
                    <div class="cart-state__card">
                        <p class="title">Orders</p>
                        <p class="state-val"><span th:text="${cartState4}">120</span></p>
                        <p class="sub-value"><span>this month</span></p>
                    </div>
                    <div class="cart-state__card">
                        <p class="title">Revenue</p>
                        <p class="state-val"><span th:text="${cartState5}">$5,000</span></p>
                        <p class="sub-value"><span>this month</span></p>
                    </div>
                </section>
                <section class="section-carts section-row">
                    <div class="sec-title"><h2 class="title">Last 10 Carts</h2></div>
                    <div class="carts box">
                        <div th:if="${carts != null}">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Total</th>
                                        <th>Created</th>
                                        <th>Updated</th>
                                        <th>Items</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cart : ${carts}" th:if="${cart != null}">
                                        <td th:text="${cart.id}">123</td>
                                        <td th:text="${cart.total}">4567</td>
                                        <td th:text="${cart.created}">4567</td>
                                        <td th:text="${cart.updated}">4567</td>
                                        <td th:text="${#lists.size(cart.cartItems)}">4567</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${carts != null}">
                            <div class="sec-title"><p class="title">No Carts Found</p></div>
                        </div>
                    </div>
                </section>
                <section class="section-row" style="margin-bottom: 1.2rem;">
                    <div class="summary">
                        <div class="card">
                            <p class="title">Total Carts</p>
                            <hr>
                            <p><span th:text="${totalCarts}"></span></p>
                        </div>
                        <div class="card">
                            <p class="title">Total Price</p>
                            <hr>
                            <p><span th:text="${totalPrice}"></span></p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!-- Footer -->
    </div>
    <footer th:replace="~{admin/fragments/footer::footer}"></footer>
    
</body>
</html>