<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div class="container"></div>
    <h1>Last 10 Carts</h1>
    <div class="carts" style="list-style-type: none;">
        <ul style="list-style-type: none; padding: 0;">
            <li th:each="cart : ${carts}" style="list-style-type: none; display: flex; flex-wrap: nowrap;">
                <p th:text="${cart.id}" style="width: 60%;">123</p>
                <p th:text="${item.quantity}" style="width: 10%;">4567</p>
                <p th:text="${item.quantity}" style="width: 10%;">4567</p>
                <p th:text="${item.quantity}" style="width: 10%;">4567</p>
                <p th:text="${item.quantity}" style="width: 10%;">4567</p>
            </li>
        </ul>
    </div>
</div>

<div class="summary">
    <div class="card">
        <h2>Total Carts</h2>
        <p><span th:text="${totalCarts}"></span></p>
    </div>
    <div class="card">
        <h2>Total Price</h2>
        <p><span th:text="${totalPrice}"></span></p>
    </div>
</div>


</body>
</html>