<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
        .footer{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 0;
        }
        .footer{
            background-color: black;
            color: #fff;
            font-size: 1rem;
            line-height: 20px;
        }
        .footer p {
            margin: 0;
        }
    </style>
</head>
<body>
    <footer class="footer" th:fragment="footer">
        <p>&copy; 2024 Alamin. All rights reserved.</p>
    </footer>
</body>
</html>