<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../../../static/admin/main.css" th:href="@{/admin/main.css}" rel="stylesheet">
    <style>

    
    </style>
</head>
<body>
<div class="wrapper">
    <aside th:replace="~{admin/fragments/navigation::navigation}"></aside>
    <div class="content category-create-form">
        <header th:replace="~{admin/fragments/header :: header}"></header>
        <div class="form-wrap">
            <h1 class="title">Create Category</h1>
            <form th:action="@{/admin/categories}" method="post" enctype="multipart/form-data">
                <div id="formMessage" class="form-message">
                    <div id="formMessageText"></div>
                </div>                
                <div class="input-container">
                    <label for="name">Name:</label>
                    <input type="text" class="text-input" id="name" name="name">
                </div>
                <div class="input-container">
                    <label for="description">Description:</label>
                    <textarea class="text-input" id="description" name="description" rows="4"></textarea>
                </div>
                <div class="input-container">
                    <label for="parent">Parent Category:</label>
                    <select class="text-input" id="parent" name="parentId">
                        <option value="">None</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="input-container image-input">
                    <label for="image">Upload Image:</label>
                    <input type="file" name="image" id="image" class="file-input" accept="image/*" onchange="previewImage(event)">                    
                </div>
                <div id="imagePreview" class="image-priview" style="">
                    <img id="preview" class="image-priview__image" src="#" alt="Image Preview">
                </div>
                <div class="input-container">
                    <button type="button" id="submitButton" class="button-37">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{admin/fragments/footer::footer}"></footer>

<script src="../../../static/admin/js/main.js" th:src="@{/admin/js/main.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        categoriesCreateForm();
    });
</script>

</body>
</html>