<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <title>Edit Product</title>
    <link href="../../../static/public/css/bootstrap.min.css" th:href="@{/public/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/admin/main.css}" href="../../static/css/admin/main.css" rel="stylesheet">

    <style>
        .edit-product-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .edit-product-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .edit-product-container form .form-group {
            margin-bottom: 15px;
        }

        .edit-product-container form button {
            width: 100%;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <aside th:replace="~{admin/fragments/navigation :: navigation}"></aside>
    <main class="content">
        <header th:replace="~{admin/fragments/header :: header}"></header>
    <div class="edit-product-container">
        <h2>Edit Category</h2>
        <form id="editForm" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${category.name}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" th:text="${category.description}"></textarea>
            </div>
            <div class="form-group">
                <label for="active">Active:</label>
                <input type="checkbox" class="form-control" id="active" name="active" th:checked="${category.active}">
            </div>

            <div class="form-group">
                <label for="category">Parent:</label>
                <select class="form-control" id="category" name="parent">
                    <option th:each="category : ${categories}"
                            th:value="${category.categoryId}"
                            th:text="${category.name}"
                            th:selected="${category.categoryId} == ${category.categoryId}? 'ture':'false'">
                    </option>
                </select>
            </div>

            <input type="hidden" id="productId" name="id" th:value="${category.categoryId}">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
    </main>
</div>
<footer th:replace="~{admin/fragments/footer::footer}"></footer>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {

        const url = '/admin/categories/' + /*[[${category.categoryId}]]*/
        console.log(url);

        document.getElementById('editForm').addEventListener('submit', function(event){
            event.preventDefault();

            const formData = new FormData(this);
            if(document.getElementById("active").checked){
                formData.set("active", "true");
            } else {
                formData.set("active", "false");
            }

            fetch(url, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                //body: JSON.stringify(formData)
                body: JSON.stringify(Object.fromEntries(formData)),
            })
            .then(response => response.text())
            .then(data => {
                alert('Product updated successfully!');
                // Redirect or update UI as needed
                window.location = "/admin/categories"
            })
            .catch(error => {
                console.error('Error updating product:', error);
                alert('Failed to update product.');
            });
        });
    });
</script>
</body>
</html>

