<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Card</title>
<!--    <link href="../../static/public/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="./../../static/public/css/style.css" rel="stylesheet">
</head>
<body>

<div th:fragment="productCardList(products)" class="all-products">
    <div class="flex-row">
        <div  class="product-card">
            <div class="card" th:each="product: ${products}">
                <div class="image">
                    <div class="icon">
                        <i class="far fa-heart"></i>
                    </div>
                    <img th:src="@{${product.image}}" src="https://via.placeholder.com/150" class="product-img" alt="Product Image" th:alt="${product.name}">
                    <span th:if="true" class="product-new">New</span>
                    <span th:if="true" class="product-popular">Sale</span>
                </div>
                <div class="product-details">
                    <h5 th:text="${product.name}" class="product-title">Product Title</h5>
                    <p th:text="${product.price}" class="product-price"><strong>$49.99</strong></p>
                    <p th:if="(${product.price} < ${product.initPrice})" th:text="${product.initPrice}" class="product-discount"><strong>$49.99</strong></p>
                    <button th:data-add-to-cart="${product.id}" data-quantity="1" type="button" role="button" class="button-37 add-cart">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
